#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700;
  height: 250px;
  cursor: pointer;
  transition: transform 1000ms;
}

.card.flipped {
  transform: rotateX(180deg);
}

.card.flipped p {
  transform: rotateX(180deg);
}