#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700;
  height: 250px;
  cursor: pointer;
  transition: transform 0.5s; /* Add a transition for smooth animation */
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
}

.card .front, .card .back {
  position: absolute;
  padding: 5px;
  justify-content: center;
  backface-visibility: hidden;
  transition: opacity 0.5s; /* Add a transition for fading in and out */
  opacity: 1; /* Start with full opacity */
}

/* Apply flip effect when the "flipped" class is present */
.card.flipped .front {
  opacity: 0; /* Hide the front when flipped */
}

.card.flipped .back {
  opacity: 1; /* Show the back when flipped */
}
